;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[zprint "1.2.4"]]

 :builds
 {:script {:target :node-script
           :output-to "packages/zprint-wrapper/main.js"
           :main zprint.npm/main
           :compiler-options {:infer-externs :auto
                              :optimizations :advanced}}
  :lib {:target :node-library
        :output-to "packages/zprint-lib/lib.js"
        :exports {:configureAll   zprint.core/configure-all!
                  :czprint        zprint.core/czprint
                  :czprintStr     zprint.core/czprint-str
                  :setOptions     zprint.core/set-options!
                  :zprint         zprint.core/zprint
                  :zprintFileStr  zprint.core/zprint-file-str
                  :zprintStr      zprint.core/zprint-str}}}}
